@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Use a dark color for the handle */
    border-radius: 5px; /* Make the handle rounded */
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Add a hover effect */
}
